.car_create {
  max-width: 500px;
  margin: 20px auto;
}

.car_create_daily_rate_manufacturer,
.car_create_features {
  display: grid;
  grid-gap: 20px;
}

.car_create_daily_rate_manufacturer {
  grid-template-columns: 1fr 1fr;
}

.car_create_features {
  grid-template-columns: 1fr 1fr 1fr;
}
