.navbar__bar {
  overflow: hidden;
  position: relative;
}

.navbar__faux_bg {
  position: absolute;
  width: 55%;
  height: 100%;
  background-color: #1b1b1b;
  transform: skew(30deg);
  margin-left: -45px;
}

.navbar__bg {
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar-brand {
  line-height: 1;
  background-color: #1b1b1b;
}

.navbar__title {
  margin-left: -15px;
  font-weight: 600;
  color: white;
}

.navbar__slogan {
  font-size: 12px;
  text-transform: uppercase;
  color: #d3af37;
}

.navbar__btn {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background-color: #d3af37;
}

.navbar__links a {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
