.jumbotron {
  background-image: url("https://res.cloudinary.com/dcqydvumi/image/upload/v1600067450/lambo_ach30z.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(211, 175, 55, 0.6);
}
