.sidebarnav {
  background-color: white;
  height: 100vh;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebarnav__brand__img {
  margin-top: 3em;
  margin-left: 3em;
  width: 35%;
}

.sidebarnav__list {
  margin-top: 3em;
  margin-left: 3em;
}

.sidebarnav__list li {
  padding-left: 0;
}

.sidebarnav__list li:hover {
  border-right: 4px solid gray;
}
